<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet"/>
</head>
<body>
<div id="header-container"></div>
<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Информация о пользователе -->
            <div class="author-card pb-3">
                <div class="author-card-profile">
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg"></h5>
                        <span class="author-card-email"></span>
                        <span class="author-card-phone"></span>
                    </div>
                </div>
            </div>
            <!-- Меню -->
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item active">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Доставки</div>
                            </div>
                            <span class="badge badge-secondary" id="orders-count"></span>
                        </div>
                    </a>
<!--                    <a class="list-group-item">-->
<!--                        <i class="fa fa-user text-muted"></i>Настройки профиля-->
<!--                    </a>-->
                </nav>
            </div>
        </div>
        <!-- Таблица заказов -->
        <div class="col-lg-8 pb-5">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Номер #</th>
                        <th>Дата</th>
                        <th>Статус</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody id="orders-container"></tbody>
                    <div id="ordersDetail-container"></div>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Шаблоны для динамической генерации -->
<template id="header-template">
    <header class="header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                </ul>
                <div class="text-end" id="header-buttons-container"></div>
            </div>
        </div>
    </header>
</template>

<template id="spinner-template">
    <div style="display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</template>

<template id="orders-template">
    <tr>
        <a class="navi-link" data-toggle="modal">
        <td id="order-number"></td>
        <td id="order-data"></td>
        <td><span class="badge badge-danger m-0" id="order-status"></span></td>
        <td><span id="order-price"></span></td>
        </a>
    </tr>
</template>


<!-- Детали заказа -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Детали заказа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancelOrderButton" disabled>Отменить заказ</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="/js/account.js"></script>
</body>
</html>