<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тарифы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            background: url(https://sun9-44.userapi.com/impg/xKpccWnfaHhES1MEK1zzPXziqyPkMegHZtmFRw/jyOuNz9_L30.jpg?size=1216x790&quality=95&sign=a0b8bbac439ecf6797183f46e8d3679a&type=album) no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Главная</a></li>
                <li><a th:href="@{/account}" class="nav-link px-2 text-white">Личный кабинет</a></li>
            </ul>
            <div class="text-end">
                <a th:href="@{/login}" class="btn btn-outline-light me-2">Регистрация</a>
                <a th:href="@{/login}" class="btn btn-light">Вход</a>
            </div>
        </div>
    </div>
</header>
<body>
</body>