<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/inputs.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div id="header-container"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-auto form-container">
            <h1>Поиск дешевых сервисов доставки</h1>
            <form th:action="@{/tariffs}" novalidate="novalidate" method="POST" autocomplete="off" id="deliveryDataForm" class="marked">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <input type="hidden" name="fromLocation.country" class="form-control" id="fromLocationCountryInput" value="Россия" required>
                        <input type="hidden" name="fromLocation.state" class="form-control" id="fromLocationStateInput" value="Москва" required>
                        <label for="fromLocationCityInput">Город отправления</label>
                        <input type="text" name="fromLocation.city" class="form-control location" id="fromLocationCityInput" placeholder="Город отправления" value="Москва" required>
                        <div class="locationSuggest" id="fromLocationSuggest"></div>
                        <div class="form-row date-container">
                            <div class="form-group col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="date" name="fromLocation.date" class="form-control" id="fromLocationDateInput" required>
                                    <label for="fromLocationDateInput">Дата отправки</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="hidden" name="toLocation.country" class="form-control" id="toLocationCountryInput" value="Россия" required>
                        <input type="hidden" name="toLocation.state" class="form-control" id="toLocationStateInput" value="Оренбургская" required>
                        <label for="toLocationCityInput">Город получения</label>
                        <input type="text" name="toLocation.city" class="form-control location" id="toLocationCityInput" placeholder="Город получения" value="Оренбург" required>
                        <div class="locationSuggest" id="toLocationSuggest"></div>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-primary" id="submitButton1">Найти</button>
                    </div>
                </div>
                <div class="form-row buttons-container">
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-primary" id="addPackageButton">Добавить груз</button>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-primary" id="removePackageButton">Убрать груз</button>
                    </div>
                </div>
                <div class="container-fluid" id="packagesContainer">
                    <div class="package-form row mb-3">
                        <div class="form-group col-md-2">
                            <label for="packageWeight">Вес (гр)</label>
                            <input type="number" name="packages[0].weight" class="form-control package" id="packageWeight" placeholder="Вес" min="1" value="10" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="packagrLength">Длина (см)</label>
                            <input type="number" name="packages[0].length" class="form-control package" id="packagrLength" placeholder="Длина" min="1" value="10" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="packageWidth">Ширина (см)</label>
                            <input type="number" name="packages[0].width" class="form-control package" id="packageWidth" placeholder="Ширина" min="1" value="10" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="packageHeight">Высота (см)</label>
                            <input type="number" name="packages[0].height" class="form-control package" id="packageHeight" placeholder="Высота" min="1" value="10" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="submitButton2">Найти</button>
            </form>
        </div>
    </div>
</div>

<!-- Шаблоны для динамической генерации -->
<template id="header-template">
    <header class="header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                </ul>
                <div class="text-end" id="header-buttons-container"></div>
            </div>
        </div>
    </header>
</template>

<template id="package-template">
    <div class="package-form row mb-3">
        <div class="form-group col-md-2">
            <label>Вес (гр)</label>
            <input type="number" name="packages[__index__].weight" class="form-control package" placeholder="Вес" min="1" value="10" required>
        </div>
        <div class="form-group col-md-2">
            <label>Длина (см)</label>
            <input type="number" name="packages[__index__].length" class="form-control package" placeholder="Длина" min="1" value="10" required>
        </div>
        <div class="form-group col-md-2">
            <label>Ширина (см)</label>
            <input type="number" name="packages[__index__].width" class="form-control package" placeholder="Ширина" min="1" value="10" required>
        </div>
        <div class="form-group col-md-2">
            <label>Высота (см)</label>
            <input type="number" name="packages[__index__].height" class="form-control package" placeholder="Высота" min="1" value="10" required>
        </div>
    </div>
</template>

<script type="module" src="/js/index.js"></script>
</body>
</html>