<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Главная</title>
    </head>
    <body>

    <form action="/" method="POST">
        <label>Город отправления</label>
        <input type="text" name="from_location"  required>
        <br>
        <label>Город получения</label>
        <input type="text" name="to_location"  required>
        <br>
        <label>Вес (гр)</label>
        <input type="number" name="weight"  required>
        <br>
        <input type="submit" value="Найти">
    </form>

    </body>
</html>