<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body{
        background: url(https://cs9.pikabu.ru/post_img/big/2016/10/14/8/1476449288194647767.jpg) no-repeat;
        background-size: 100%;
    }
    </style>
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Главная</a></li>
                <li><a th:href="@{/account}" class="nav-link px-2 text-white">Личный кабинет</a></li>
            </ul>
            <div class="text-end">
                <a th:if="${userLogin == 'anonymous'}" th:href="@{/registration}" class="btn btn-outline-light me-2">Регистрация</a>
                <a th:if="${userLogin == 'anonymous'}" th:href="@{/login}" class="btn btn-light">Вход</a>
                <a th:if="${userLogin != 'anonymous'}" th:href="@{/logout}" class="btn btn-light">Выход</a>
            </div>
        </div>
    </div>
</header>
<body class="bg-light">
<div class="container" style="background-color:white; padding-top:15px; padding-bottom:15px; margin-top: 15px; margin-bottom: 15px; border-radius:.25rem;">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Заказ</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0" th:text="'Тариф: №' + ${orderPageData.tariff.code}"></h6>
                            <small th:text="${orderPageData.tariff.name}"></small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Цена</span>
                        <strong th:text="${orderPageData.tariff.price} + '₽'"></strong>
                    </li>
                </ul>
                <div class="w-100">
                    <button class="btn btn-primary" type="submit">Оформить</button>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3" style="margin-left:10px">Оформление заказа</h4>
                <form th:action="@{/order}" method="POST" class="needs-validation" novalidate>
                    <div class="row g-3" style="margin-left:5px">
                        <h5 class="mb-3" >Отправитель</h5>
                        <div class="col-sm-4">
                            <label for="senderLastName" class="form-label">Фамилия<span class="text-muted"></span></label>
                            <input type="text" name="sender.lastName" class="form-control" id="senderLastName" th:value="${orderPageData.sender.lastName}" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="senderFirstName" class="form-label">Имя<span class="text-muted"></span></label>
                            <input type="text" name="sender.firstName" class="form-control" id="senderFirstName" th:value="${orderPageData.sender.firstName}" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="senderFatherName" class="form-label">Отчество<span class="text-muted"></span></label>
                            <input type="text" name="sender.fatherName" class="form-control" id="senderFatherName" th:value="${orderPageData.sender.fatherName}" required>
                        </div>
                        <div class="col-4">
                            <label for="senderEmail" class="form-label">Почта<span class="text-muted"></span></label>
                            <input type="email" name="sender.email" class="form-control" id="senderEmail" placeholder="you@example.com" th:value="${orderPageData.sender.email}" required>
                        </div>
                        <div class="col-4">
                            <label for="senderPhoneNumber" class="form-label">Телефон<span class="text-muted"></span></label>
                            <input type="text" name="sender.phone" class="form-control" id="senderPhoneNumber" placeholder="+78005004020" th:value="${orderPageData.sender.phone}" required>
                        </div>

                         <h5 class="mb-3">Адрес отправления</h5>
                        <div class="col-md-4">
                            <label for="fromLocationState" class="form-label">Область</label>
                            <input type="text" name="fromLocation.state" class="form-control" id="fromLocationState" th:value="${orderPageData.fromLocation.state}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="fromLocationCity" class="form-label">Город</label>
                            <input type="text" name="fromLocation.city" class="form-control" id="fromLocationCity" th:value="${orderPageData.fromLocation.city}" required>
                        </div>
                        <div class="col-md-2">
                            <label for="fromLocationStatePostalCode" class="form-label">Индекс</label>
                            <input type="text" name="fromLocation.postalCode" class="form-control" id="fromLocationStatePostalCode" th:value="${orderPageData.fromLocation.postalCode}" required>
                        </div>
                        <div class="col-8">
                            <label for="fromLocationStreet" class="form-label">Улица</label>
                            <input type="text" name="fromLocation.street" class="form-control" id="fromLocationStreet" th:value="${orderPageData.fromLocation.street}" required>
                        </div>
                        <div class="col-2">
                            <label for="fromLocationHouse" class="form-label">Дом</label>
                            <input type="number" name="fromLocation.house" class="form-control" id="fromLocationHouse" th:value="${orderPageData.fromLocation.house}" required>
                        </div>
                        <div class="col-2">
                            <label for="fromLocationApartment" class="form-label">Квартира</label>
                            <input type="number" name="fromLocation.apartment" class="form-control" id="fromLocationApartment" th:value="${orderPageData.fromLocation.apartment}" required>
                        </div>
                        <div class="col-12">
                            <label for="comment" class="form-label">Комментарий к заказу</label>
                            <input type="text" name="comment" class="form-control" id="comment" value="Нет комментария" required>
                        </div>
                         <h5 class="mb-3">Получатель</h5>
                        <div class="col-sm-4">
                            <label for="recipientLastName" class="form-label">Фамилия<span class="text-muted"></span></label>
                            <input type="text" name="recipient.lastName" class="form-control" id="recipientLastName" th:value="${orderPageData.recipient.lastName}" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="recipientFirstName" class="form-label">Имя<span class="text-muted"></span></label>
                            <input type="text" name="recipient.firstName" class="form-control" id="recipientFirstName" th:value="${orderPageData.recipient.firstName}" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="recipientFatherName" class="form-label">Отчество<span class="text-muted"></span></label>
                            <input type="text" name="recipient.fatherName" class="form-control" id="recipientFatherName" th:value="${orderPageData.recipient.fatherName}" required>
                        </div>
                        <div class="col-4">
                            <label for="recipientEmail" class="form-label">Почта<span class="text-muted"></span></label>
                            <input type="email" name="recipient.email" class="form-control" id="recipientEmail" placeholder="you@example.com" th:value="${orderPageData.recipient.email}" required>
                        </div>
                        <div class="col-4">
                            <label for="recipientPhoneNumber" class="form-label">Телефон<span class="text-muted"></span></label>
                            <input type="text" name="recipient.phone" class="form-control" id="recipientPhoneNumber" placeholder="+78005004020"  th:value="${orderPageData.recipient.phone}" required>
                        </div>

                         <h5 class="mb-3">Адрес получения</h5>
                        <div class="col-md-4">
                            <label for="toLocationState" class="form-label">Область</label>
                            <input type="text" name="toLocation.state" class="form-control" id="toLocationState" th:value="${orderPageData.toLocation.state}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="toLocationCity" class="form-label">Город</label>
                            <input type="text" name="toLocation.city" class="form-control" id="toLocationCity" th:value="${orderPageData.toLocation.city}" required>
                        </div>
                        <div class="col-md-2">
                            <label for="toLocationPostalCode" class="form-label">Индекс</label>
                            <input type="text" name="toLocation.postalCode" class="form-control" id="toLocationPostalCode" th:value="${orderPageData.toLocation.postalCode}" required>
                        </div>
                        <div class="col-8">
                            <label for="toLocationStreet" class="form-label">Улица</label>
                            <input type="text" name="toLocation.street" class="form-control" id="toLocationStreet" th:value="${orderPageData.toLocation.street}" required>
                        </div>
                        <div class="col-2">
                            <label for="toLocationHouse" class="form-label">Дом</label>
                            <input type="number" name="toLocation.house" class="form-control" id="toLocationHouse" th:value="${orderPageData.toLocation.house}" required>
                        </div>
                        <div class="col-2">
                            <label for="toLocationApartment" class="form-label">Квартира</label>
                            <input type="number" name="toLocation.apartment" class="form-control" id="toLocationApartment" th:value="${orderPageData.toLocation.apartment}" required>
                        </div>
                    </div>

                    <h4 class="mb-3" style="margin-top:30px; margin-left:10px">Оплата</h4>
                    <div class="row gy-3" style="margin-left:5px">
                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Номер карты</label>
                            <input type="text" name="card.number" class="form-control" id="cc-number" >
                        </div>
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Имя на карте</label>
                            <input type="text" name="card.name" class="form-control" id="cc-name" >
                        </div>
                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Срок действия</label>
                            <input type="text" name="card.expiration" class="form-control" id="cc-expiration" >
                        </div>
                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" name="card.cvv" class="form-control" id="cc-cvv" >
                        </div>
                    </div>
                    <input type="hidden" name="tariff.code" th:value="${+orderPageData.tariff.code}">
                    <input type="hidden" name="tariff.price" th:value="${+orderPageData.tariff.price}">
                    <div class="w-100">
                        <button class="btn btn-primary" type="submit" style="margin-top:30px;">Оформить</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>