<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{css/registration.css}" rel="stylesheet"/>
    <link href="/css/header.css" rel="stylesheet">
</head>
<div id="header-container"></div>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-auto" style="margin-top: 5%; padding:72px; background-color:white; border-radius:.25rem;">
            <h1 style="color: #343a40; margin-right:200px">Регистрация</h1>
            <form th:action="@{/registration}" novalidate="novalidate" autocomplete="off" method="POST" id="registrationForm">
                <div class="form-group">
                    <div class="row g-3">
                        <div class="col-sm-4">
                            <label for="lastNameInput">Фамилия</label>
                            <input type="text" name="lastName" class="form-control" id="lastNameInput" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="firstNameInput">Имя</label>
                            <input type="text" name="firstName" class="form-control" id="firstNameInput" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="fatherNameInput">Отчество</label>
                            <input type="text" name="fatherName" class="form-control" id="fatherNameInput" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row g-3">
                        <div class="col-sm-4">
                            <label for="phoneInput">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phoneInput" placeholder="+78006005040" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="emailInput">Почта</label>
                            <input type="email" name="email" class="form-control" id="emailInput" placeholder="example@example.example" autocomplete="username" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row g-3" style="margin-top:5px">
                        <div class="col-sm-4">
                            <label for="passwordInput">Пароль</label>
                            <input type="password" name="password" class="form-control" id="passwordInput" autocomplete="new-password" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="repeatPasswordInput">Повторите пароль</label>
                            <input type="password" class="form-control" id="repeatPasswordInput" autocomplete="new-password" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="registrationButton">Зарегистрироваться</button><br>
                    <a th:href="@{/login}" class="nav-link px-2">Войти</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Шаблоны для динамической генерации -->
<div class="modal fade" id="emailVerificationModal" tabindex="-1" aria-labelledby="emailValidationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailValidationModalLabel">Подтвердить электронную почту</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmEmailButton">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<template id="header-template">
    <header class="header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                </ul>
                <div class="text-end" id="header-buttons-container"></div>
            </div>
        </div>
    </header>
</template>

<template id="spinner-template">
    <div style="display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</template>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="js/registration.js"></script>
</html>