<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тарифы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .tariff-card {
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 15px;
          margin-bottom: 15px;
        }

        .tariff-card-header {
          font-weight: bold;
        }

        .tariff-card-footer {
          text-align: right;
        }

        .tariff-button {
          padding: 8px 15px;
          border-radius: 5px;
          background-color: #007bff;
          color: white;
          text-decoration: none;
        }
        .form-container {
          margin-bottom: 30px;
        }
        body{
            background: url(https://sun9-44.userapi.com/impg/xKpccWnfaHhES1MEK1zzPXziqyPkMegHZtmFRw/jyOuNz9_L30.jpg?size=1216x790&quality=95&sign=a0b8bbac439ecf6797183f46e8d3679a&type=album) no-repeat;
            background-size: 100%;
        }
        .deliveryData{
            padding-top:26px;
        }
    </style>
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Главная</a></li>
                <li><a th:href="@{/account}" class="nav-link px-2 text-white">Личный кабинет</a></li>
            </ul>
            <div class="text-end">
                <a th:href="@{/login}" class="btn btn-outline-light me-2">Регистрация</a>
                <a th:href="@{/login}" class="btn btn-light">Вход</a>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container" style="background-color:white; margin-top:15px; height: 72px; border-radius:.25rem;">
    <div class="row">
        <div class="col deliveryData" style="text-align: right;">
            <h5 th:text="${tariffsPageData.fromLocation.city}"></h5>
        </div>
        <div class="col deliveryData" style="text-align: center;">
            <h5>➔</h5>
        </div>
        <div class="col deliveryData" style="text-align: left;">
            <h5 th:text="${tariffsPageData.toLocation.city}"></h5>
        </div>
        <div class="col deliveryData" style="text-align: top;">
            <h5 th:text="${tariffsPageData.fromLocation.date}"></h5>
        </div>
        <div class="col deliveryData" style="text-align: left;">
            <h5 th:text="${tariffsPageData.packageQuantity + ', ' + tariffsPageData.packageWeight + 'гр' }"></h5>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row form-container">
        <div class="col-md-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <!--Сортировка -->
                <div>
                    <select id="sort-options" class="form-select">
                        <option value="price">По стоимости</option>
                        <option value="speed">По скорости</option>
                    </select>
                </div>
            </div>
            <!--Фильтры -->
            <div class="card p-3">
                <!--Способы доставки-->
                <h5>Выбор способа доставки</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="door-to-door" checked>
                    <label class="form-check-label" for="door-to-door">
                        Дверь — Дверь
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="door-to-warehouse">
                    <label class="form-check-label" for="door-to-warehouse">
                        Дверь — Склад/ПВЗ
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="warehouse-to-door">
                    <label class="form-check-label" for="warehouse-to-door">
                        Склад/ПВЗ — Дверь
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="warehouse-to-warehouse">
                    <label class="form-check-label" for="warehouse-to-warehouse">
                        Склад/ПВЗ — Склад/ПВЗ
                    </label>
                </div>
<!--                    &lt;!&ndash;Услуги&ndash;&gt;-->
<!--                    <h5>Услуги</h5>-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" name="delivery-method">-->
<!--                        <label class="form-check-label" for="door-to-door">-->
<!--                            Доставка лично в руки-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" name="delivery-method">-->
<!--                        <label class="form-check-label" for="door-to-door">-->
<!--                            Опасный груз-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" name="delivery-method">-->
<!--                        <label class="form-check-label" for="door-to-door">-->
<!--                            Страхование-->
<!--                        </label>-->
<!--                    </div>-->
                <!--Курьерские службы-->
                <h5>Курьерские службы</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="delivery-method" id="allServices" checked>
                    <label class="form-check-label" for="allServices">
                        Все компании
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="delivery-method" id="cdek" checked>
                    <label class="form-check-label" for="cdek">
                        CDEK
                    </label>
                </div>
            </div>
        </div>
        <!--Тарифы-->
        <div class="col-md-8 overflow-auto" style="max-height:695px;">
            <div class="row" style="padding-top: 55px;">
                <div class="col-md-12">
                    <div th:each="tariff : ${tariffsPageData.tariffs}" class="tariff-card" style="background-color: white;">
                        <div class="tariff-card-header" th:text="${tariffsPageData.service.name}"></div>
                        <div class="tariff-card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3" style="align-content: center;">
                                        <img th:src="${tariffsPageData.service.logo}" width="120"  src="" alt="Логотип сервиса"/>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong>Мин. дней:</strong></p>
                                        <p><strong>Макс. дней:</strong></p>
                                        <p><strong>Цена:</strong></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p th:text="${tariff.minTime}"></p>
                                        <p th:text="${tariff.maxTime}"></p>
                                        <p th:text="${tariff.price} + '₽'"></p>
                                    </div>
                                    <div class="col-md-3">
                                        <p th:text="${tariff.name}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tariff-card-footer">
                            <form action="/order" method="POST">
<!--                                &lt;!&ndash; Для Location fromLocation &ndash;&gt;-->
<!--                                <input type="hidden" name="fromLocation.state" th:value="${tariffsPageData.fromLocation.state}">-->
<!--                                <input type="hidden" name="fromLocation.city" th:value="${tariffsPageData.fromLocation.city}">-->

<!--                                &lt;!&ndash; Для Location toLocation &ndash;&gt;-->
<!--                                <input type="hidden" name="toLocation.state" th:value="${tariffsPageData.toLocation.state}">-->
<!--                                <input type="hidden" name="toLocation.city" th:value="${tariffsPageData.toLocation.city}">-->

                                <!-- Для Tariff tariff -->
                                <input type="hidden" name="code" th:value="${tariff.code}" id="tariffCodeInput">
                                <input type="hidden" name="name" th:value="${tariff.name}" id="tariffNameInput">
                                <input type="hidden" name="minTime" th:value="${tariff.minTime}" id="tariffMinTimeInput">
                                <input type="hidden" name="maxTime" th:value="${tariff.maxTime}" id="tariffMaxTimeInput">
                                <input type="hidden" name="price" th:value="${tariff.price}" id="tariffPriceInput">
                                <button type="submit" class="btn btn-primary" id="submitButton">Выбрать тариф</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{js/tariffs.js}"></script>
<!--    <script src="../static/js/tariffs.js"></script>-->
</body>
</html>