<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тарифы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/tariffs.css}" rel="stylesheet">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
                <li><a href="/account" class="nav-link px-2 text-white">Личный кабинет</a></li>
            </ul>
            <div class="text-end">
                <a th:unless="${isAuthenticated}" th:href="@{/registration}" class="btn btn-outline-light me-2">Регистрация</a>
                <a th:unless="${isAuthenticated}" th:href="@{/login}" class="btn btn-light">Вход</a>
                <a th:if="${isAuthenticated}" th:href="@{/logout}" class="btn btn-light">Выход</a>
            </div>
        </div>
    </div>
</header>

<div class="container delivery-header">
    <div class="row">
        <div class="col deliveryData text-center">
            <h5 id="dateCell"></h5>
        </div>
        <div class="col deliveryData text-end">
            <h5 id="fromCity"></h5>
        </div>
        <div class="col deliveryData text-center">
            <h5>➔</h5>
        </div>
        <div class="col deliveryData text-start">
            <h5 id="toCity"></h5>
        </div>
        <div class="col deliveryData text-start">
            <h5 id="packageInfo"></h5>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row form-container">
        <div class="col-md-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <select id="sort-options" class="form-select">
                    <option value="price">По стоимости</option>
                    <option value="speed">По скорости</option>
                </select>
            </div>
            <div class="card p-3 min-height-278">
                <!-- Фильтры доставки -->
                <h5>Выбор способа доставки</h5>

                <!-- Дверь — Дверь -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="door-to-door" checked>
                    <label class="form-check-label" for="door-to-door">Дверь — Дверь</label>
                </div>
                <!-- Дверь — ПВЗ -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="door-to-pickup">
                    <label class="form-check-label" for="door-to-pickup">Дверь — ПВЗ</label>
                </div>
                <!-- ПВЗ — Дверь -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="pickup-to-door">
                    <label class="form-check-label" for="pickup-to-door">ПВЗ — Дверь</label>
                </div>
                <!-- ПВЗ — ПВЗ -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="delivery-method" id="pickup-to-pickup">
                    <label class="form-check-label" for="pickup-to-pickup">ПВЗ — ПВЗ</label>
                </div>

                <h5>Курьерские службы</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="delivery-method" id="allServices" checked>
                    <label class="form-check-label" for="allServices">Все компании</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="delivery-method" id="cdek">
                    <label class="form-check-label" for="cdek">CDEK</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="delivery-method" id="dpd">
                    <label class="form-check-label" for="dpd">DPD</label>
                </div>
            </div>
        </div>
        <div class="col-md-8 overflow-auto max-height-695">
            <div class="row pt-55" id="tariffs-list">

                <div id="spinner">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <!-- Здесь будет спиннер загрузки, а затем тарифы -->
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/tariffs.js}"></script>
</body>
</html>